@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono:400);
body {
  color: #111;
  font-family: 'Droid Sans Mono',monospace;
  margin: 0em;
  padding: 0.5em;
  font-size:14px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Droid Sans',sans-serif;
}

p {
    font-family:inherit;
    font-size:inherit;
    padding-left: 0em;
    white-space:pre-wrap;
    line-height:150%;
}

div.fragment { 
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding-left: 4px;
	margin: 4px;
}

div.box { 
	width: 98%;
	background-color: #f5f5f5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 4px;
}

.comment {
	color: #228B22;
}
.string {
	color: #B20000;
}
.keyword { 
	color: #0000FF;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }

a {
	text-decoration: none; 
}

a:hover {
	background-color: #006699;
	color:#FFFFFF;
}

a.code {
	font-weight: normal; 
	color: #A020F0;
}

a.code:hover {
	background-color: #FF0000;
	color: #FFFFFF;
}	

h1 {
	color: #333;
	font-size: 18pt;
	border-bottom: 1px solid #666
}

h2 {
	color: #333;
	font-size: 16pt;
}

address {
	font-size:75%;
}

#_path {font-size:75%}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}
input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
}

li {
    padding-left:5px;
}
